@import '~bootstrap/scss/bootstrap';

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.users {
    background-color: #c0c0c0;
}

.scroll {
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
}


.username {
    color: rgb(14, 73, 40);
    font-size: 1.2rem;
    word-wrap: break-word;
    max-width: 100%;
}

.max-lines {
   word-break: break-word;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 1.5em; /* fallback */
   max-height: 6em; /* fallback */
   -webkit-line-clamp: 4; /* number of lines to show */
   -webkit-box-orient: vertical;
}